appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
Cartopy==0.23.0
click-plugins==1.1.1
cligj==0.7.2
clyent==1.2.1
comm==0.2.2
# conda-repo-cli==1.0.75
# conda-verify==3.4.2
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
et-xmlfile==1.1.0
fiona==1.9.6
fonttools==4.25.0
fqdn==1.5.1
geopandas==0.14.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
inflection==0.5.1
ipywidgets==8.1.2
isoduration==20.11.0
jsonpointer==2.1
jupyterlab==4.1.6
jupyterlab_widgets==3.0.10
munkres==1.1.4
notebook==7.1.2
openpyxl==3.0.10
patsy==0.5.3
plotly==5.20.0
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pyproj==3.6.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyshp==2.3.1
python-lsp-jsonrpc==1.0.0
retrying==1.3.4
shapely==2.0.3
uri-template==1.3.0
webcolors==1.13
webencodings==0.5.1
widgetsnbextension==4.0.10
